<div class="flex flex-column w-10 mx-auto">
  <!-- Title -->
  <h1 class="text-center text-3xl font-bold underline mb-5">Modifier le groupe : {{ groupData?.name }}</h1>

  <!-- Group details card -->
  <p-card header="Détails du groupe" class="flex flex-column justify-content-center p-3 mb-5 ">
    <form [formGroup]="groupForm" class="w-full">
      <div class="grid formgrid">
        <div class="field col-12 md:col-6">
          <label for="name" class="block font-semibold mb-2">Nom du groupe</label>
          <input id="name" type="text" pInputText formControlName="name" placeholder="Nom du groupe"
            class="w-full p-inputtext-lg" />
        </div>

        <div class="field col-12 md:col-6">
          <label for="santaDate" class="block font-semibold mb-2">Date du Santa</label>
          <input id="santaDate" type="date" pInputText formControlName="santaDate" class="w-full p-inputtext-lg" />
        </div>
      </div>

      <div class="flex justify-content-center mt-4 gap-3">
        <button pButton pRipple="true" label="Supprimer le groupe" icon="pi pi-trash"
          class="p-button-danger p-button-lg" (click)="deleteGroup()"></button>
        <button pButton pRipple="true" label="Sauvegarder" icon="pi pi-save" class="p-button-success p-button-lg"
          (click)="updateGroup()"></button>
      </div>
    </form>

  </p-card>

  <!-- Membres du groupe -->
  <p-card header="Membres du groupe" class="flex flex-column justify-content-center p-3">
    <ul class="list-none p-0">
      <li *ngFor="let member of getValidGroupMembers()"
        class="flex align-items-center justify-content-between p-2 mb-2 border-bottom-1">
        <span class="text-lg font-semibold">{{ member?.userId.username }}</span>
        <button pButton pRipple="true" icon="pi pi-trash" class="p-button-danger p-button-sm"
          (click)="removeMember(member?.userId._id)">
          Supprimer
        </button>
      </li>
    </ul>
    <p *ngIf="!hasValidMembers()" class="text-center font-bold text-lg text-gray-600">
      Aucun membre dans ce groupe.
    </p>
  </p-card>



  <!-- Invitations en attente -->
  <p-card header="Invitations en attente" class="flex flex-column justify-content-center p-3 mt-4">
    <ul class="list-none p-0">
      <li *ngFor="let invite of pendingInvitations"
        class="flex align-items-center justify-content-between p-2 mb-2 border-bottom-1">
        <span *ngIf="invite.invitedMail" class="text-lg font-semibold">{{ invite.invitedMail }}</span>
        <button pButton pRipple="true" icon="pi pi-trash" class="p-button-danger p-button-sm"
          (click)="removeInvite(invite.invitedMail)">
          supprimmer l'invitation
        </button>
      </li>
    </ul>
    <p *ngIf="!pendingInvitations || pendingInvitations.length === 0"
      class="text-center font-bold text-lg text-gray-600">
      Aucune invitation en attente.
    </p>
  </p-card>


</div>