<div class="flex flex-column w-10 mx-auto">
  <div class="flex justify-content-between align-items-center">
    <h1 class="underline">Tableau de bord</h1>
    <a href="/group/add" pButton pRipple="true" icon="pi pi-plus-circle" label="Créer un groupe"></a>
  </div>
  <div class="flex flex-column">

    <p-card header="Mes groupes" class="flex w-full">
      <p-dataView [value]="secretSantas" layout="list">
        <ng-template pTemplate="list" let-item>
          <div class="grid">
            <div *ngFor="let santa of secretSantas; let first = first" class="col-12">
              <div class="flex flex-column sm:flex-row sm:align-items-center p-1 gap-4"
                [ngClass]="{ 'border-top-1 surface-border': !first }">
                <div class="flex flex-row justify-content-between md:align-items-center flex-1 gap-4">
                  <div class="flex md:align-items-end gap-5 flex-1">
                    <p-tag [value]="isSantaInProgress(santa.santaDate) ? 'en cours' : 'terminé'"
                      [severity]="isSantaInProgress(santa.santaDate) ? 'success' : 'danger'">
                    </p-tag>
                    <span class="font-bold">{{ santa.name }}</span>
                  </div>
                  <div class="flex align-items-center flex-1">
                    <span class="pi pi-gift"></span>
                    <span class="ml-2">Santa: {{ santa.santaAssigned }}</span>
                  </div>
                  <div class="flex align-items-center flex-1">
                    <span class="pi pi-calendar-times"></span>
                    <span class="ml-2">Date du Santa: {{ santa.santaDate | date: 'dd/MM/yyyy' }}</span>
                  </div>
                  <div class="flex align-items-center flex-1">
                    <span class="pi pi-users"></span>
                    <span class="ml-2">Nombre de membres: {{ santa.members }}</span>
                  </div>
                  <div class="flex align-items-center gap-2">
                    <button pButton pRipple="true" label="Modifier le groupe" icon="pi pi-pencil"
                      (click)="editGroup(santa._id)">
                    </button>
                    <button pButton pRipple="true" label="Ajouter des membres" icon="pi pi-plus"
                      (click)="addMembers(santa._id)">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </p-card>

    <p-card header="Groupes où je suis membre" class="mt-5">
      <p-dataView [value]="userGroups" layout="list">
        <ng-template pTemplate="list" let-item>
          <div class="grid">
            <div *ngFor="let group of userGroups; let first = first" class="col-12">
              <div class="flex flex-column sm:flex-row sm:align-items-center p-1 gap-4"
                [ngClass]="{ 'border-top-1 surface-border': !first }">
                <div class="flex flex-row justify-content-between md:align-items-center flex-1 gap-4">
                  <div class="flex md:align-items-end gap-5">
                    <p-tag [value]="isSantaInProgress(group.santaDate) ? 'en cours' : 'terminé'"
                      [severity]="isSantaInProgress(group.santaDate) ? 'success' : 'danger'">
                    </p-tag>
                  </div>
                  <div class="flex md:align-items-end gap-5">
                    <span class="font-bold">{{ group.name }}</span>
                  </div>
                  <div class="flex align-items-center">
                    <span class="pi pi-gift"></span>
                    <span class="ml-2">Santa: {{ group.santaAssigned }}</span>
                  </div>
                  <div class="flex align-items-center">
                    <span class="pi pi-calendar-times"></span>
                    <span class="ml-2">Date du Santa: {{ group.santaDate | date: 'dd/MM/yyyy' }}</span>
                  </div>
                  <div class="flex align-items-center">
                    <span class="pi pi-users"></span>
                    <span class="ml-2">Nombre de membres: {{ group.members }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template *ngIf="userGroups.length === 0" pTemplate="empty">
          <div class="flex mt-3">
            <span class="font-bold">Aucun groupe trouvé.</span>
          </div>
        </ng-template>
      </p-dataView>
    </p-card>

  </div>
</div>